/* 全体の設定 */
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;   
}
header {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
}
/* 左上のアイコン */
#bbb-logo {
    width: 160px;
    height: 60px;
    margin: 20px;
}
/* ハンバーガーメニュー */
#g-nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background:#FF2A2A;
    transition: all 0.3s;
}
/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
}
/*ナビゲーション*/
#g-nav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#g-nav.panelactive ul {
    display: block;
}
/*リストのレイアウト設定*/
#g-nav li {
    list-style: none;
    text-align: center; 
}
#g-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.nav-apply {
    margin-top: 25px;
    border: solid 1px;
    position: relative;
    padding: 15px 40px !important;
    transition: 0.5s;
}
.nav-apply::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: -5px;
    left: 5px;
    right: -5px;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    z-index: -1;
}
.nav-apply:hover {
    color: #FF2A2A !important;
    background-color: white;
}
/*ボタンのためのCSS*/
.openbtn1 {
    position:fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #FF2A2A;
}
/*×に変化*/  
.openbtn1 span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 30px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    width: 50%;
}
.openbtn1 span:nth-of-type(1) {
    top:35px; 
}
.openbtn1 span:nth-of-type(2) {
    top:50px;
}
.openbtn1 span:nth-of-type(3) {
    top:65px;
}
.openbtn1.active span:nth-of-type(1) {
    top: 50px;
    left: 40px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
}
.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}
.openbtn1.active span:nth-of-type(3) {
    top: 61px;
    left: 40px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
}
/* トップ画像 */
.top-image {
    position: absolute;
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
    display: block;
    opacity: 0;
    animation: change-img-anim 15s infinite;
}
/* アニメーション設定 */
.top-image:nth-of-type(1) {
    animation-delay: 0s;
}
.top-image:nth-of-type(2) {
    animation-delay: 5s;
}
.top-image:nth-of-type(3) {
    animation-delay: 10s;
}
@keyframes change-img-anim {
    0%{ opacity: 0;}
    30%{ opacity: 1;}
    36%{ opacity: 1;}
    45%{ opacity: 0;}
    100%{ opacity: 0;}
}
/* トップ画面全体 */
.top-box {
    position: relative;
}
/* トップ画像 */
.top-image-box {
    position: relative;
    width: 1200px;
    height: 800px;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
}
/* トップ画像の周りぼかし */
.top-image-box::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 15px #FFF;
}
/* トップ３行全体のレイアウト */
.top-elements {
    position: absolute;
    top: 300px;
    left: 100px;
}
/* トップ文のレイアウト */
.top-elements p {
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 2px 7px #fff;
}
/* 無料体験はこちらボタン */
.apply-button {
    display: block;
    width: 450px;
    padding: 15px 0;
    margin-top: 20px;
    background-color: #FF2A2A;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px #990000;
    transition: 0.5s;
}
/* 無料体験はこちらの右端の逆「く」の字 */
.apply-button::after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0.5em;
    height: 0.5em;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
}
/* 無料体験はこちらボタンのホバー時 */
.apply-button:hover {
    transform: scale(1.05);
}
/* BBBが選ばれる理由全体レイアウト */
#choose-reason {
    margin-top: 100px;
}
/* ハンバーガーメニューで選ぶ各項目タイトル */
.topic {
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
}
/* タイトルの下線 */
.topic:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 70px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
}
/* BBBが選ばれる理由 */
/* BBBが選ばれる理由の赤枠 */
#reason-field {
    background-color: #FF2A2A;
    margin: 100px auto;
}
.reason-boxes {
    display: flex;
}
/* 理由２つ左右対称 */
.reason-boxes:nth-child(even) {
    flex-direction: row-reverse;
    margin: 20px -40px 20px 20px;
}
/* 理由（２つ）全体構成 */
.reason-box {
    background-color: white;
    width: 45%;
    display: flex;
    border-radius: 20px;
    margin: 80px 20px 80px -20px;
    padding: 40px 70px;
}
/* 理由のタイトルと文章 */
.reason-elements {
    display: block;
    text-align: center;
    margin: 20px auto;
}
/* 理由の項目 */
.reason-element {
    color: #FF2A2A;
    font-weight: bold;
    font-size: 30px;
}
/* 理由の画像 */
.img-pc {
    width: 87px;
    height: 60px;
    margin: 20px 10px;
}
.img-teacher {
    width: 50px;
    height: 60px;
    margin: 20px 10px;
}
/* 理由の１行目レイアウト */
.reason-box p {
    text-align: center;
}
/* スライドアニメーション */
.slideConts {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  .slideContsL {
    transform: translate(-800px, 0);
  }
  .slideContsR {
    transform: translate(800px, 0);
  }
  .slideContsL.show {
    transform: translate(-50px, 0) !important;
  }
  .slideContsR.show {
    transform: translate(50px, 0) !important;
  }
/* 受講生の声 */
/* 受講生の画像 */
.student-img {
    background-color: #E8E8E8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* 受講生ごとのボックス */
.opinion-boxes {
    display: flex;
    margin: 50px 150px;
}
/* アニメーション設定 */
.scr-target {
    /* アニメーション開始から終了までの所要時間 */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    /* アニメーションが開始するまでの遅延時間 */
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    /* アニメーションのループ回数 - infiniteで無限ループ */
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /* キーフレームアニメーションで指定したプロパティをアニメーション開始前、終了後に適用するかどうか */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.scr-target[class*='fadeIn'],
.scr-target[class*='zoom'] {
    opacity: 0;
}
/* ズームイン */
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}
.anime__zoomIn.is-active {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
/* 受講生ごと全体のレイアウト */
.opinion-box {
    text-align: center;
}
.opinion-box p {
    font-size: 15px;
    margin: 0;
}
/* 受講生の声左右対称 */
.opinion-boxes:nth-child(odd) {
    flex-direction: row-reverse;
}
/* テキスト欄 */
.opinion-element-odd {
    position: relative;
    background-color: #D7EEFF;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
    height: 100px;
}
.opinion-element-even {
    position: relative;
    background-color: #D7EEFF;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
    height: 100px;
}
/* 吹き出しの三角 */
.opinion-element-odd:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #D7EEFF;
    top: 60px;
    left: -24px;
}
.opinion-element-even:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-left: 12px solid #D7EEFF;
    top: 60px;
    right: -24px;
}
/* スクールの概要 */
#school-overview {
    width: 100%;
    background: url(img/bg.gif);
    padding: 50px 10px;
    animation: scroll-anim 15s linear infinite;
}
/* 背景画像アニメーション */
@keyframes scroll-anim {
    0% { background-position: 0 0;}
    100% { background-position: -700px 1400px;}
}
/* スクールの概要全体のレイアウト */
.overview-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 30px;
    justify-content: center;
}
/* 概要の項目全体のレイアウト */
.overview-box {
    width: 450px;
    height: 200px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}
/* 概要のタイトル */
.overview-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}
/* 概要のタイトルの英語部分 */
.overview-title-english {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* 概要のテキスト部分 */
.overview-text {
    display: inline-block;
    text-align: left;
    padding: 10px 95px;
}
/* 無料で試してみませんかの文章全体のレイアウト */
.try-lesson {
    text-align: center;
    margin-top: 100px;
}
/* 「まずは無料で〜」の装飾 */
.try-element {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
/* 無料体験に申し込むボタン */
.try-lesson-button {
    display: block;
    width: 800px;
    padding: 15px 0;
    margin: 30px auto 100px auto;
    background-color: #FF2A2A;
    border: 2px solid #FF2A2A;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.5s;
}
/* 無料体験に申し込むボタンホバー時 */
.try-lesson-button:hover {
    color: #FF2A2A;
    background-color: white;
    border: 2px solid #FF2A2A;
}
/* フッター */
footer {
    background-color: #E8E8E8;
}
.footer-elements {
    display: flex;
    margin: 0 70px;
}
.footer-element {
    width: 25%;
    justify-content: space-between;
}
.footer-element p {
    font-weight: bold;
    margin-top: 50px;
}
.footer-element ul {
    margin: 0;
    padding-left: 10px;
}
.footer-element li {
    list-style: none;
    text-decoration: none;
    margin: 5px auto;
}
.footer-element a {
    color: #333333;
    padding-left: 0;
}
/* コピーライト */
#copyright p {
    text-align: center;
    font-size: 10px;
    padding-bottom: 20px;
}
/* レスポンシブ対応 */
@media screen and (max-width: 900px) {

.top-elements {
    position: relative;
    top: 0;
    left: 0;
}
.top-image-box {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0;
}
.top-elements p {
    font-size: 30px;
}
.apply-button {
    width: 90%;
    margin: 10px;
}
.reason-box {
    width: 95%;
}
.opinion-boxes {
    flex-direction: column-reverse;
    margin: 0;
}
.opinion-boxes:nth-child(odd) {
    flex-direction: column-reverse;
}
.student-img {
    display: block;
    margin: 0 auto;
}
.opinion-element-odd {
    width: 90%;
    height: 30%;
}
.opinion-element-even {
    width: 90%;
    height: 30%;
}
.opinion-element-odd:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-top: 12px solid #D7EEFF;
    top: 100%;
    left: 50%;
}
.opinion-element-even:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-top: 12px solid #D7EEFF;
    top: 100%;
    right: 46%;
}
.overview-box {
    width: 95%;
}
.overview-text {
    padding: 10px 0;
}
.try-lesson-button {
    width: 90%;
}
.footer-elements {
    flex-wrap: wrap;
}
.footer-element {
    width: 50%;
}

}