/* 全体のフォント */
body {
    font-family: sans-serif;
}
/* 左上のアイコン */
#bbb-logo {
    width: 160px;
    height: 60px;
    margin: 20px;
}
/* トップ画像 */
.top-image {
    width: 1200px;
    height: 800px;
    margin-right: 0px;
}

.top-box {
    position: relative;
}

.top-elements {
    position: absolute;
    top: 250px;
    left: 100px;
}

.top-elements p {
    font-size: 45px;
    font-weight: bold;
    margin: 5px;
}

/* 無料体験はこちらボタン */
.apply-button {
    display: block;
    width: 450px;
    padding: 15px 0;
    margin-top: 20px;
    background-color: #FF2A2A;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px #990000;
}
/* 無料体験はこちらの右端の逆くの字　！！要理解！！ */
.apply-button::after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0.5em;
    height: 0.5em;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
}

/* ハンバーガーメニュー修正必要 */
.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
  }
  
  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 18px;
  }
  
  .hamburger__line--3 {
    top: 36px;
  }
  
  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }
  
  /* 
  sp-nav(ナビ)
  =================================== */
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }
  
  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    right: 0;
  }
  
  
  /* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

/* ここまでハンバーガーメニュー */

#choose-reason {
    margin-top: 100px;
}
/* ハンバーガーメニューで選ぶ各項目タイトル */
.topic {
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
}
/* タイトルの下線 */
.topic:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;/*線の上下位置*/
    display: inline-block;
    width: 70px;/*線の長さ*/
    height: 3px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: black;/*線の色*/
}
/* BBBが選ばれる理由 */
/* BBBが選ばれる理由の赤枠 */
#reason-field {
    background-color: #FF2A2A;
    height: 600px;
}
/* 上と混ぜてもいいかも */
.reason-boxes {
    display: flex;
}

.reason-boxes:nth-child(even) {
    flex-direction: row-reverse;
    margin: 20px -40px 20px 20px;
}
/* 理由（２つ）全体構成 */
.reason-box {
    background-color: white;
    width: 400px;
    height: 100px;
    display: flex;
    border-radius: 20px;
    margin: 20px 20px 20px -20px;
    padding: 20px 40px;
}
/* 理由の項目 */
.reason-element {
    color: #FF2A2A;
    font-weight: bold;
}
/* 理由の画像 */
/* .reason-box img {
    width: 20%;
    height: 50%;
} */

.reason-box p {
    text-align: center;
}
/* 受講生の声 */
/* 受講生の画像 */
.student-img {
    background-color: #E8E8E8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* 受講生ごとのボックス */
.opinion-boxes {
    display: flex;
    margin: 50px 150px;
}

.opinion-box {
    text-align: center;
}
.opinion-box p {
    font-size: 15px;
    margin: 0;
}

/* なぜoddじゃないとできない？ */
.opinion-boxes:nth-child(odd) {
    flex-direction: row-reverse;
}
/* テキスト欄 */
.opinion-element-odd {
    position: relative;
    background-color: #D7EEFF;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
    height: 100px;
}
.opinion-element-even {
    position: relative;
    background-color: #D7EEFF;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 500px;
    height: 100px;
}
/* 吹き出しの三角 */
.opinion-element-odd:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #D7EEFF;
    top: 60px;
    left: -24px;
}
.opinion-element-even:before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-left: 12px solid #D7EEFF;
    top:60px;
    right: -24px;
}

/* スクールの概要 */

.overview-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.overview-box {
    width: 45%;
    height: 250px;
    text-align: center;
    background-color: gray;
    margin: 20px;
    border-radius: 20px;
}

.try-lesson {
    text-align: center;
    margin-top: 100px;
}

.try-lesson h1 {
    margin: 0;
}
.try-lesson p {
    margin: 0;
}
/* 無料体験に申し込むボタン */
.try-lesson-button {
    display: block;
    width: 800px;
    padding: 15px 0;
    margin: 30px auto 100px auto;
    background-color: #FF2A2A;
    color: white;
    text-decoration: none;
    /* text-align: center; */
    font-size: 25px;
    border-radius: 30px;
    font-weight: bold;
}

#footer {
    background-color: #E8E8E8;
}

.footer-elements {
    display: flex;
}

#copyright {
    text-align: center;
}